
.bg-red-gradient {
  background-image: linear-gradient(76deg, #d32f2f, #f44336);
  background-image: linear-gradient(76deg, #d32f2f, #f44336);
}

.bg-red-gradient--lighter {
  background-image: linear-gradient(76deg, #e61111, #ff3333);
  background-image: linear-gradient(76deg, #e61111, #ff3333);
}
